* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* This is for the top-most navbar */
.nav1 {
    position:sticky;
    background-color: #000000CC;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 44px;
}

.nav1 .large-screen {
    /* margin: 0 auto; */
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 3vw;
}

.nav1 .small-screen {
    display: none;
}

.nav1 ul {
    height: 44px;
    /* width: 996px; */
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    gap: 2vw;
    /* margin: 0 -8px; */
    align-items: center;
}

.nav1 li {
    font-weight: 400;
    color: #86868B;
}

.nav1 a {
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:700px) {
    .nav1 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .nav1 .large-screen {
        display: none;
    }

    .nav1 .small-screen {
        padding: 0vw 5vw;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav1 .small-screen>div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4vw;
    }

    .nav1 .small-screen>div>div {
        border: 2px solid gray;
        /* padding:1rem ; */
        width: 2rem;
        height: 2rem;
        border-radius: 5px;
    }

    .nav1 .small-screen>div>div .line {
        position: absolute;
        height: 1px;
        width: 1.3rem;
        background: #fff;
    }

    .nav1 .small-screen>div>div .line-top {
        margin-top: 7px;
    }

    .nav1 .small-screen>div>div .line-bottom {
        margin-top: 15px;
    }
}

/* This is for the 2nd navbar which is present just below the main navbar */
#nav2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
    padding-top: 10px;
    /* height: 20vmin; */
    background-color: #FBFBFD;
    /* width: 98.6vw; */
}

#nav2>div {
    /* height: 100px; */
    display: flex;
    /* padding: 0px 34px; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* width: 92vw; */
}

#nav2>div ul {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    /* height: 20vw; */
    /* padding: 3vh 0vh; */
}

#nav2>div li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 75px;
}

#nav2>div .new {
    color: #BF4800;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.9rem;
    /* 120% */
    letter-spacing: -0.08px;
}

#nav2>div a {
    text-decoration: none;
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 133.337% */
    letter-spacing: -0.12px;
}

/* This is for the section bar which consist of three parts */
section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: 'SF Pro Display', sans-serif;
    width: 98vw;
}

/* This is for the 1st part of section which is iPhone 14 */

#sec1>div:nth-child(1)>div {
    /* border:5px solid green; */
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* height: 1021px; */
    gap: 15vh;
}

#sec1 #iphone14 {
    text-align: center;
    display: flex;
    /* position:relative; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'SF Pro Display', sans-serif;
}

#sec1 h2 {
    text-align: center;
    margin: 2vh 0vh;
    color: #6E6E73;
    text-align: center;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: -0.374px;
    gap: 3px;
}

/* #sec1 #iphone14 img {
    margin: 14px 0px 0px 0px;
    width: 100px;
    height: 21px;
} */

#sec1 #iphone14 p {
    height: 10vh;
    margin: 6vh 0vh;
}

#sec1 #iphone14 b {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 3.4rem;
    font-style: normal;
    font-weight: 700;
    background: linear-gradient(90deg, #2CA2B4 0%, #5598DE 24%, #7F87FF 45%, #F65AAD 76%, #EC3D43 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 10vh;
    letter-spacing: -0.144px;
}

#sec1 span {
    /* display: block; */
    margin: auto;
    text-align: center;
    /* height: 7vh; */
    font-size: 1.3rem;
    line-height: 3.7vh;
    letter-spacing: 0.2px;

}

#sec1 ul {
    margin:8vh 0vh 0vh 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.2vw;
}

#sec1 #iphone14 li:nth-child(1) a {
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 980px;
    background: #0071E3;
    text-decoration: none;
}

#sec1 #iphone14 li:nth-child(2) a {
    color: #06C;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 1.23rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
    letter-spacing: 0.231px;
    text-decoration: none;
}

#sec1>div>div>img {
    width: 100%;
    height: auto;
}

/* This is for 2nd part of section which is iPhone 14 Pro */

#sec1>div:nth-child(2) {
    display: flex;
    /* height: 950px; */
    padding-top: 15vh;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* gap:42px; */
}

#sec1>div:nth-child(2)>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 0px 99px; */
    gap: 10vh;
    color: white;
}

#sec1>div:nth-child(2) #iphone14pro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'SF Pro Display', sans-serif;
    gap: 2vh;
    /* height: 213.5px; */
}

#sec1 #iphone14pro p {
    /* margin-top: 20px; */
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    /* height: 58px; */
    margin: 2vh 0vh;
}

#sec1 #iphone14pro b {
    /* display: inline-flex; */
    /* width: 320px; */
    /* flex-direction: column; */
    /* justify-content: flex-end;
    align-items: center; */
    font-family: 'SF Pro Display', sans-serif;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    background: linear-gradient(180deg, #FFB6FF 0%, #B344FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 3rem;
    letter-spacing: -0.144px;
}

#sec1 #iphone14pro li:nth-child(1) a {
    color: white;
    /* display: flex; */
    padding: 0.5rem 1rem 0.5rem 1rem;
    /* justify-content: center; */
    /* align-items: center; */
    flex-shrink: 0;
    border-radius: 980px;
    background: #0071E3;
    text-decoration: none;
}

#sec1 #iphone14pro li:nth-child(2) a {
    color: #06C;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 1.23rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
    letter-spacing: 0.231px;
    text-decoration: none;
}

/* This is for 3rd part in section which is iphone SE */

#sec1>div:nth-child(3) {
    display: flex;
    /* height: 830px; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* margin-left : 8.3%; */
}

#sec1>div:nth-child(3)>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:7vw;
}

#sec1 #iphoneSE {
    display: flex;
    /* position:relative; */
    flex-direction: column;
    /* width: 46vw; */
    align-items: center;
    justify-content: center;
    /* gap: 3px;     */
    /* height: 254.5px; */
    font-family: 'SF Pro Display', sans-serif;
}

/* #sec1>div:nth-child(3) #iphoneSE{
    display: flex;
    width: 630px;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    font-family: 'SF Pro Display', sans-serif;    
    height: 265px;
} */
#sec1 #iphoneSE p {
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 58px; */
    margin: 50px 0px;
    /* width:340px; */
}

#sec1 #iphoneSE b {
    /* display: flex; */
    /* width: 338px; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    font-family: 'SF Pro Display', sans-serif;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    background: linear-gradient(90deg, #1E3791 0%, #2948B1 40%, #3153C6 55%, #385FDA 60%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 3rem;
    letter-spacing: -0.144px;
}

#sec1 #iphoneSE li:nth-child(1) a {
    color: white;
    display: flex;
    padding: 0.5rem 1rem 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 980px;
    background: #0071E3;
    text-decoration: none;
}

#sec1 #iphoneSE li:nth-child(2) a {
    color: #06C;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 1.23rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
    letter-spacing: 0.231px;
    text-decoration: none;
}

#sec1>div>div>div:nth-child(2)>img {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width:700px) {
    #sec1>div:nth-child(3)>div {
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex-wrap:wrap;
    }

    #sec1 span {
        /* display: block; */
        margin: auto;
        text-align: center;
        height: auto;
        font-size: 1.3rem;
        line-height: 4.7vh;
        letter-spacing: 0.2px;
    }

}

/* This is for 2nd section which is Guided Tour of iPhone 14 And iPhone 14 pro */

#sec2{
    /* background-color: black;  */
    /* box-sizing: border-box; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 2.64vw 1vh 2.64vw;
    /* border: 2px solid blue; */
    width:100%;
    height: 100%;
    /* max-height: 120vh; */
}
#sec2>div:first-child {
    height: 120vh;
    width:100%;
    /* border:2px solid red; */
    background-image: url('./Apple clone images/guidedtour.png');
    /* background-color: #2C567C; */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* background-attachment: fixed; */
    /* padding: 0px 15px; */
    /* display: flex;  */
    /* justify-content: center;
    align-items: center; */
}
#sec2>div>div{
    display: flex;
    position: absolute;
    top:40vh;
    left:20vw;

}
#sec2>div>div>div {
    display: flex;
    /* padding: 45vh 0vw 0vh 12vw; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.8vh;
}

#sec2 #guidedtour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
    gap: 2.8vh;
}

#sec2 #guidedtour>div{
    display: flex;
    flex-direction: column;
    gap: 1.1vh;
}

#sec2 #guidedtour b {
    /* height: 110px; */
    /* display: flex; */
    /* width: 338px; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    font-family: 'SF Pro Display', sans-serif;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.05rem;
    letter-spacing: -0.144px;
}

#sec2 #guidedtour span {
    /* height: 29px; */
    color: #FFF;
    font-family: SF Pro Display;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.65rem;
    letter-spacing: 0.216px;
}

#sec2 #guidedtour>p a{
    /* width: 135px;*/
    /* height: 26v;  */
    padding: 1vh 2vw;
    border-radius: 980px;
    background: #FFF;
    color: #000;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 117.6%;
    /* 117.648% */
    letter-spacing: -0.374px;
}

/* This is for the comparison section */

#sec3 {
    display: flex;
    justify-content: center;
    /* width: 97vw; */
    /* margin: */
}

#sec3>div {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.2vh;
    padding:15vh 0vh;
    /* padding: 116px 266px 119px 266px; */
    /* width: 840px; */
}

#sec3>div>p {
    /* width: 640px; */
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.05rem;
    /* 108.349% */
    letter-spacing: -0.144px;
}
@media only screen and (max-width:800px){
    #sec3>div>div{
        /* border:2px solid blue; */
        width:100vw;
        overflow-x: scroll;
    }
}
#sec3 th>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6.5vh;
    border-bottom: 2px solid #D2D2D7;
}

#sec3 .dev1 {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    /* width:210px; */
}

#sec3 .dev2 {
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.3vh 0vh 2.6vh 0vh;
    gap: 2.6vh;
}

#sec3 table {
    border-collapse: separate;
    border-spacing:45px 50px;
}

#sec3 .dev1 span {
    color: #BF4800;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    /* 133.337% */
    letter-spacing: -0.12px;
}

#sec3 .dev1 p {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    /* 147.059% */
    letter-spacing: -0.374px;
}

#sec3 .dev2 p {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height:1.2rem;
    /* 142.859% */
    letter-spacing: -0.224px;
}


#sec3 .row {
    display: flex;
    flex-direction: column;
    /* justify-content:start; */
    align-items: center;
    /* margin: 0px; */
    /* gap:5px; */
}

#sec3 .main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.3vh;
}

#sec3 .dev2 li {
    margin: 20px 0px;
}

#sec3 .dev2 li:nth-child(1) a {
    text-decoration: none;
    padding: 5px 12px 5px 12px;
    background: #0071E3;
    color: white;
    border-radius: 900px;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    /* 133.337% */
    letter-spacing: -0.12px;
}

#sec3 .dev2 li:nth-child(2) a {
    text-decoration: none;
    padding: 5px 12px 5px 12px;
    color: #0071E3;
    border-radius: 900px;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2rem;
    /* 133.337% */
    letter-spacing: -0.12px;
}

#sec3 p {
    /* margin: 5px 0px 10px 0px; */
    text-align: center;
    font-family: SF Pro Display;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2rem;
    /* 142.859% */
    letter-spacing: -0.224px;
}

#sec3 .head {
    /* height: 16px; */
    /* gap: 10px; */
    color: #1D1D1F;
    /* 142.859% */
}

#sec3 .content {
    /* height: 16px; */
    color: #6E6E73;
}

#sec3 .lastrow {
    padding-bottom: 40px;
    border-bottom: 2px solid #D2D2D7;
}

#sec3>div>ul>div {
    display: flex;
    /* width: 600px; */
    flex-direction: row;
    /* border: 2px solid red; */
    justify-content: space-evenly;
    align-items: center;
}

#sec3>div>ul>div>li>a {
    text-decoration: none;
    color: #06C;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
    /* 138.1% */
    letter-spacing: 0.231px;
}


/* This is for 4th section which is give WOW */

#sec4 {
    display: flex;
    width:100%;
    padding: 4vh 3.5vw 2vh 3.5vw;
    /* background-color: #000; */
    /* align-items: center; */
    /* width: 1274px; */
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}

#sec4>div {
    width:100%;
    background: #01012A;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* width: 1250px; */
}

#sec4>div>div {
    display: flex;
    align-items: center;
    /* padding: 17px 50.078px 15px 100.031px;  */
    gap: 1.5vw;
    padding: 2.6vh 0vh;
}
@media only screen and (max-width:600px){
    #sec4>div>div{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap:5vh;
    }
}

#sec4>div>div>figure img {
    width: 100%;
    height: auto;
}

#sec4 #wow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 470px; */
}

#sec4 #wow #wow-head {
    color: #FFF;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 4.7rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5.3rem;
    /* 111.121% */
    letter-spacing: -0.27px;
}

#sec4 #wow #wow-content {
    color: #2997FF;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
    /* 138.1% */
    letter-spacing: 0.231px;
}

/* This is for 5th section which is WAYS TO BUY iPHONE*/

#sec5 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 13vh 1.5vw 2.6vh 1.5vw;
    background: #f2f2f2;
    /* border:2px solid red; */
}

#sec5,
#sec6>p {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 3.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.5rem;
    /* 107.143% */
    letter-spacing: -0.28px;
}

#sec5>div {
    /* height:703px;*/
    /* width:100%;  */
    display: flex;
    padding: 6.5vh 0vw 4vh 0vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: white; */
    margin-top: 2.4rem;
    /* gap:50px; */
    /* border:2px solid blue; */
}
#sec5>div>div{
    background: white;
    width:100%;
}
#sec5 #div1 {
    /* border: 2px solid green; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10.5vh;
    padding: 7.3vh 0vh;
    /* margin-bottom: 100px; */
    background: white;
    /* border:2px solid pink; */
}

#sec5 #div1>div:nth-child(1) {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3vh;
}

#sec5 #div1>div:nth-child(1)>p:nth-child(1) {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.65rem;
    /* 116.667% */
    letter-spacing: 0.216px;
}

#sec5 #div1>div:nth-child(1)>p:nth-child(2) {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.06rem;
    /* 108.349% */
    letter-spacing: -0.144px;
}

#sec5 #div1>div:nth-child(2) {
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* @media only screen and (max-width:) */
#sec5 #div1>div:nth-child(2)>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.3vh 1.8vw;
    gap: 1.3vh;
}

#sec5 #div1>div:nth-child(2)>div>p {
    color: #6E6E73;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 1.24rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
    /* 138.1% */
    letter-spacing: 0.231px;
}

#sec5 #div1>div:nth-child(3) {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9.1vh;
}

#sec5 #div1>div:nth-child(3)>p:nth-child(1) {
    /* width:170px; */
    border-radius: 980px;
    background: #0071E3;
    padding: 15px 31px 15px 31px;
    color: #FFF;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2rem;
    /* 117.648% */
    letter-spacing: -0.374px;
}

#sec5 #div1>div:nth-child(3)>p:nth-child(2) {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    /* 147.059% */
    letter-spacing: -0.374px;
}

#sec5 #div1>div:nth-child(3)>p:nth-child(2)>a {
    text-decoration: none;
    color: #06C;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    /* 147.059% */
    letter-spacing: -0.374px;
}

#sec5 #div2 {
    width:100%;
    padding: 3.9vh 0vh;
    /* border:2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.6vw;
    background: #f2f2f2;
    flex-wrap:wrap;
}

#sec5 #div2>div {
    padding: 2.6vh 0vh 0vh 0vh;
    background: #FFFFFF;
    /* border:2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* width:100%; */
    width: 570px;
    height: 750px;
}

#sec5 #div2>div>div {
    padding-top: 3.9vh;
    /* width: 500px; */
    /* border:2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* #sec5 #div2>div:nth-child(1)>div{
    border:2px solid blue;
} */
/* #sec5 #div2>div>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
} */
#sec5 .top,
#sec6 .top,
#sec8 .top {
    /* width: 500px; */
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.06rem;
    /* 108.349% */
    letter-spacing: -0.144px;
}

#sec5 .middle,
#sec6 .middle,
#sec8 .middle {
    margin: 2.6vh 0vh;
    color: #1D1D1F;
    text-align:center;
    font-family: SF Pro Display;
    font-size: 1.24rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71rem;
    /* 138.1% */
    letter-spacing: 0.231px;
}

#sec5 .bottom a,
#sec6 .bottom a,
#sec8 .bottom a {
    text-decoration: none;
    color: #06C;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 1.24rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71rem;
    /* 138.1% */
    letter-spacing: 0.231px;
}

#sec5 #div3 {
    display: flex;
    /* border:2px solid red; */
    justify-content: center;
    align-items: center;
    width: 100%;
    background: url('./Apple clone images/apple.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url('./Apple clone images/apple.jpg'); */
    height: 90vh;
    /* border:2px solid green; */
}

#sec5 #div3>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width:600px){
    #sec5>div{
        display:flex;
        justify-content: center;
        align-items: center;
        width:100%;
    }
    #sec5 #div2>div:nth-child(1){
        gap:10vh;
    }
    #sec5 #div2>div:nth-child(2) img{
        max-width: 100%;
        max-height:fit-content;
    }
}
/* This is for 6th section which is FEATURED ACCESSORIES */

#sec6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
    width:100%;
    padding:17vh 1.5vw 2.6vh 1.5vw;
    /* padding: 130px 20px 20px 20px; */
}

#sec6>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3.9vh 0vh;
    gap: 20px;
    width:100%;
    /* border:2px solid red; */
}

#sec6>div>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 2px solid blue; */
    /* width: 1240px; */
    background: white;
    flex-wrap: wrap;
}

#sec6>div>div>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 400px; */
    /* border:2px solid green; */
}
#sec6 img{
    width:100%;
    height: auto;
}

#sec6>div>div:nth-child(1) {
    margin-top: 50px;
    padding: 60px 0px 0px 0px;
    gap: 50px;
    /* gap:100px; */
}

#sec6>div>div:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#sec6 ul {
    display: flex;
    gap: 30px;
}

#sec6>div>div:nth-child(3) {
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
}

/* This is for 7th section which is FAST DELIVERY,EMI,CUSTOMER SUPPORT */

#sec7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    background: #f2f2f2;
}

#sec7>div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
    flex-wrap: wrap;
    /* gap:20px; */
}

#sec7>div>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px 50px 20px 50px;
}

#sec7 .top {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 1.24rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.7rem;
    /* 138.1% */
    letter-spacing: 0.231px;
}

#sec7 .middle,
#sec9 .middle {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 1.24rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
    /* 138.1% */
    letter-spacing: 0.231px;
}

#sec7 .bottom a,
#sec9 .bottom a {
    text-decoration: none;
    color: #06C;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 1.24rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
    /* 138.1% */
    letter-spacing: 0.231px;
}

/* This is for 8th section which is WHAT MAKES AN iPHONE AN iPHONE */

#sec8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width:100%;
    padding-top: 150px;
    background: #f2f2f2;
}

#sec8 .head,
#sec9 .head {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 3.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.53rem;
    /* 107.143% */
    letter-spacing: -0.28px;
}

#sec8>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#sec8>div>div:nth-child(1) {
    background: url('./Apple clone images/whatmakesiphone.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 70.3vh;
    width: 90.7vw;
    padding-top: 70px;
}

#sec8>div>div>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sec8>div>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    padding-top: 10.5vh;
    padding-bottom: 2.6vh;
    gap: 20px;
}
#sec8 img{
    width:100%;
    background-size: cover;
    height: auto;
}
/* This is for section 9 which is GET MORE OUT OF iPHONE */

#sec9 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 40px;
    background: #f2f2f2;
    flex-wrap: wrap;
}

#sec9>div {
    /* border:2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    gap: 20px;
    flex-wrap: wrap;
}

#sec9>div>div:nth-child(1) {
    /* border:2px solid rebeccapurple; */
    padding:15vh 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90.7vw;
    height: auto;
    gap: 30px;
    background: white;
    flex-wrap: wrap;
}

#sec9 .main-img{
    width:100%;
    height: auto;
}

#sec9>div>div:nth-child(1)>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    gap: 30px;
}
#sec9 .apple-one-content {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 1.65rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.88rem;
    /* 114.286% */
    letter-spacing: 0.196px;
}

#sec9 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#sec9 li>a {
    color: #06C;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 1.24rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
    /* 138.1% */
    letter-spacing: 0.231px;
}

#sec9>div>div:nth-child(2),
#sec9>div>div:nth-child(3),
#sec9>div>div:nth-child(4) {
    height: auto;
    width: 93.7vw;
    /* border:2px solid green; */
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

#sec9>div>div:nth-child(2)>div,
#sec9>div>div:nth-child(4)>div{
    /* border:2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 690px;
    max-width: 610px;
    background: white;
}
#sec9>div>div:nth-child(3)>div{
    min-height: 690px;
    max-width: 610px;
    flex-wrap: wrap;
}

#sec9>div>div:nth-child(2)>div:nth-child(1) {
    background: #000;
}

#sec9>div>div:nth-child(2)>div:nth-child(2) {
    background: white;
}

#sec9>div>div:nth-child(2)>div:nth-child(1)>div,
#sec9>div>div:nth-child(3)>div:nth-child(1)>div {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: #F5F5F7;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 1.24rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
    /* 138.1% */
    letter-spacing: 0.231px;
    gap: 20px;
    /* padding:20px 0px; */
}

#sec9>div>div:nth-child(2)>div:nth-child(2)>div,
#sec9>div>div:nth-child(3)>div:nth-child(2)>div,
#sec9>div>div:nth-child(4)>div>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 1.24rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
    /* 138.1% */
    letter-spacing: 0.231px;
    gap: 20px;
}

#sec9>div>div:nth-child(2) li a,
#sec9>div>div:nth-child(4) li a {
    text-decoration: none;
    color: #2997FF;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 1.24rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
    /* 138.1% */
    letter-spacing: 0.231px;
}

#sec9>div>div:nth-child(3)>div:nth-child(1) {
    background: url('./Apple clone images/applenews.jpg');
    background-size: cover;
}

#sec9>div>div:nth-child(3)>div:nth-child(2) {
    background: url('./Apple clone images/appleplay.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#sec9>div>div:nth-child(3)>div>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    text-align: center;    
    min-height: 690px;
    width:620px !important; 
    max-width: 90vw;
    flex-wrap: wrap;

}

#sec9>div>div:nth-child(3)>div:nth-child(1)>div a {
    color: #F5F5F7;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 1.24rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
    /* 138.1% */
    letter-spacing: 0.231px;
}

/* #sec9>div>div:nth-child(4){
    display: flex;
    align-items: center;
    justify-content: center;
} */
#sec9>div>div:nth-child(5) {
    padding-top:5vh;
    min-height: 70vh;
    width: 90.7vw;
    /* border:2px solid green; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items:center;
    gap: 10px;
    /* padding:0px 60px 0px 0px; */
    background: white;
}

#sec9>div>div:nth-child(5)>div {
    /* width: 100%; */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap:20px;
    /* border:2px solid red; */
    /* padding: 50px 60px; */
}

#sec9>div>div:nth-child(5) .top {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 2.82rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.06rem;
    /* 108.349% */
    letter-spacing: -0.144px;
}

/* This is for footer section  */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
    padding: 0px 240px;
    color: #6E6E73;
    font-family: SF Pro Display;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    gap: 20px;
}

footer>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    gap: 10px;
}

footer>div:nth-child(1)>ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    gap: 10px;
}

footer>div:nth-child(2) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 860px;
    gap: 20px;
    border-top: 1px solid #D2D2D7;
}

footer>div:nth-child(2) p {
    padding-left: 20px;
    ;
    color: #424245;
    font-family: SF Pro Display;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 133.337% */
}

footer>div:nth-child(3) {
    /* border:2px solid red; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

footer>div:nth-child(3)>div {
    /* border:2px solid green; */
    display: flex;
    flex-direction: column;
    /* align-items: fl; */
    width: 175px;
    gap: 30px;
}

footer>div:nth-child(3)>div>div {
    /* border:2px solid blue; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer>div:nth-child(3) ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer>div:nth-child(3) ul a {
    text-decoration: none;
    color: #424245;
    font-family: SF Pro Display;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    /* 133.337% */
}

footer>div:nth-child(3) .head a {
    text-decoration: none;
    color: #1D1D1F;
    font-family: SF Pro Display;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 16px;
    letter-spacing: -0.12px;
}

footer>div:nth-child(4) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 860px;
    padding: 20px 0px;
}

footer>div:nth-child(4)>div {
    /* border:2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    width: 850px;

}

footer>div:nth-child(4)>div:nth-child(1) {
    color: #6E6E73;
    font-family: SF Pro Display;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 133.337% */
    border-bottom: 1px solid #D2D2D7;
}

footer>div:nth-child(4)>div:nth-child(1) a {
    text-decoration: none;
    color: #06c;
}

footer>div:nth-child(4)>div:nth-child(2) ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
}

footer>div:nth-child(4)>div:nth-child(2)>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer>div:nth-child(4)>div:nth-child(2)>div ul li {
    padding: 0px 15px;
}

footer>div:nth-child(4)>div:nth-child(2)>div ul li:nth-child(n+2) {
    border-left: 1px solid #D2D2D7;
}